<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
<p>Yo, I'm mchaffee and this is my first rails site! I am learning how to use Test Driven Development techniques with Rspec (something completely new to me), as well as Git for version control and repository management.  Currently I am using Heroku for deployment, but that will change as ePublishing uses Capistrano.  It is quite the complex process, but it is slowly staring to sink in!</p>

<p><b>I am also using a twitter bootstrap template for this tutorial. Doesn't it look pretty sweet?</b></p>
<p>&nbsp;</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
